{% load static %}

  <link rel="stylesheet" href="{% static '/manAssets/css/styles.min.css' %}" />
 
  <script src="{% static '/manAssets/libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static '/manAssets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/manAssets/js/sidebarmenu.js' %}"></script>
  <script src="{% static '/manAssets/js/app.min.js' %}"></script>
  <script src="{% static '/manAssets/libs/apexcharts/dist/apexcharts.min.js' %}"></script>
  <script src="{% static '/manAssets/libs/simplebar/dist/simplebar.js' %}"></script>
  <!-- <script src="{% static '/assets/js/dashboard.js' %}"></script> -->