{% load static %}

  <link rel="shortcut icon" type="image/png" href="{% static '../assets/images/logos/favicon.png' %}" />
  <link rel="stylesheet" href="{% static '/surapuraAssets/css/styles.min.css' %}" />
 
  <script src="{% static '/surapuraAssets/libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static '/surapuraAssets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/surapuraAssets/js/sidebarmenu.js' %}"></script>
  <script src="{% static '/surapuraAssets/js/app.min.js' %}"></script>
  <script src="{% static '/surapuraAssets/libs/apexcharts/dist/apexcharts.min.js' %}"></script>
  <script src="{% static '/surapuraAssets/libs/simplebar/dist/simplebar.js' %}"></script>
  <script src="{% static '/surapuraAssets/js/dashboard.js' %}"></script>